* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    font-size: 2rem; /* 50px */
  }

  .main {
    min-height: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: .3fr .6fr .1fr;

  }
  
  .container1 {
    display: flex;
    justify-content: center;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    background-color: #FFE2E2;
    border-radius: 2rem;
    min-height: 100%;
    padding: 5rem;

  }

  .box {
    display: flex;
    align-items: baseline;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  label {
    font-size: 3rem;
    display: inline-block;
    text-align: right;

  }

  .container3 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }
  
  .update {
    background-color: #FFC7C7;
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: .4rem .2rem;
    cursor: pointer;
    border-radius: 2rem;
  }

  .input1 {
    width: 40rem;
    height: 4.5rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    
  }

  .textbox {
    width: 80%;
    min-height: 80%;
    border-radius: 2rem;
    font-size: 2rem;
    border: none;
    padding: 2rem
  }

  .foot {
    margin-top: auto;
  }